.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Inconsolata', monospace;

}
.title {
  font-size: calc(10px + 2vmin);
  margin-top: 10px;
  font-weight: bold;
  color: #0032bc;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Layout{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* border: solid; */
  /* border-radius: 10px; */
  padding: 20px;
  margin-top: 2%;
  width: auto;
}

.Side {
  margin: 5px;
  border: solid 3px;
  border-radius: 3px;
  background-color: black;
}

/* Rows */
.topRow {
  display: flex;
  flex-direction: row;
}

.midRow {
  display: flex;
  flex-direction: row;
}

.botRow {
  display: flex;
  flex-direction: row;
}

.tile {
  border-radius: 5px;
  border: solid 2px;
  margin:0px;
  height: 6vh;
  width: 6vh;

  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: 15px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-duration: 0.1s;
}

/* Tiles Colors */
.tile#B {
  background-color: #0b2afb;
}
.tile#R {
  background-color: #fc0d1b;
}
.tile#Y {
  background-color: #ebe932;
}
.tile#W {
  background-color: #ffffff;
}
.tile#G {
  background-color: #3cd947;
}
.tile#O {
  background-color: #fd8824;
}
/* .tile#B {
  background-color: #0b2afb;
}
.tile#R {
  background-color: #a11818;
}
.tile#Y {
  background-color: #e2d523;
}
.tile#W {
  background-color: #ffffff;
}
.tile#G {
  background-color: #478b2c;
}
.tile#O {
  background-color: #cf7f07;
} */

/* Columns */
.column1{
  display: flex;
  flex-direction: row;
}
.column2{
  display: flex;
  flex-direction: column;
}
.column3{
  display: flex;
  flex-direction: column;
}
.blankTop{
  background-color: rgb(231, 231, 231);
  margin: 5px;
  height: 120px;
  border: solid 20px;
  border-color: rgb(231, 231, 231);
  padding: 20px;
}
.blankMiddle{
  display:flex;
  flex-direction: row;
}
.Menu{
  font-weight: bold;
  font-size: 25px;
  /* color: rgb(255, 251, 0); */
  color: rgb(255, 255, 255);
  background-color: #0b2afb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* margin: 5px; */
  height: 120px;
  border: solid 3px;
  border-color:black;
  /* border-radius: 27px; */
  padding: 20px;
  width: 637px;
}
div#content{
  margin-bottom: 10px;
  color:rgb(255, 251, 0);

}

button {
  outline: none;
  font-family: 'Inconsolata', monospace;
  /* font-weight: bold; */
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 4px;
  padding-right:20px;
  padding-left:20px;
  font-size: 16px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 8px;
}

button:hover {
  background-color: #0b2afb;
  font-weight: bold;
  color: rgb(255, 251, 0);
  /* transition-duration: 0.4s; */
  cursor: pointer;
  /* background-color: #0032bc; */
  border-color: #0b2afb;
  /* border-color:rgb(255, 251, 0); */


}

button.moveButton{
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  background-color: #0b2afb;
  color: white;
  border: 0px solid black;
  padding: 0px;
  padding-right:15px;
  padding-left:15px; 
  font-size: 20px;
  margin-right: 0px;
  margin-left: 0px;
}

button.moveButton:hover{
  color: black;
  /* transition-duration: 0.4s; */
  cursor: pointer;
  color:rgb(255, 251, 0);
}

